Lenguajes de Marcas/XML/XML_5_ejer_20-9-2023 - copia/album.dtd

<!ELEMENT coleccion (album+)>
<!ELEMENT album (fotografia+)>
<!ELEMENT fotografia (monumento?, lugar+, camara+, personas+)>
<!ELEMENT  (dia+, mes+, año+, hora+)>
<!ELEMENT monumento (#PCDATA)>
<!ELEMENT lugar (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT camara (#PCDATA)>
<!ELEMENT personas (#PCDATA)>