Lenguajes de Marcas/XML/XML_5_ejer_20-9-2023 - copia/2/gestion.dtd

<!ELEMENT gestion (producto+)>
<!ELEMENT producto (codigo, nombre, descripcion, precio, categoria, disponibilidad, imagen)+>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT disponibilidad (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>